# macOS system files
.DS_Store

# Executables
*.out
*.exe
*.app

# Build directories
bin/
out/
obj/
build/

# Node.js
node_modules

# macOS system files
.DS_Store

# IDE-specific files
*.o
*.obj
*.log
*.user
*.suo
*.vcxproj*

# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.lof
*.lot

# Editor backup files
*~
*.swp
*.bak
*.backup